:root {
    --nav-background: #C0EEF2;
    --black: #181823;
    --blue: #537FE7;
    --white: #E9F8F9;

    --green: #25e84f;
    --red: #fe0505;
    --orange: #ff8b04;

    --font-title: 'signo', sans-serif;  
    --font-family: 'ministry', sans-serif;
}

/*Algemeen*/
.hidden {
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: var(--black);
    color: var(--white);
    margin-top: 5rem;
}

h1 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    color: var(--white);
}

p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 100;
}

label {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 100;
}

/*Navigation*/
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--nav-background);
}

#nav #logout_button {
    color: var(--red);
}

#nav #logout_button:hover {
    color: var(--blue);
}

#nav a {
    color: var(--black);
    display: flex;
    align-items: center;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    margin-left: 40px;
    margin-right: 40px;
}

#nav a:hover {
    color: var(--blue);
}

    /*Logo (is included in Nav)*/
    .logo {
        font-family: var(--font-title);
        font-style: normal;
        font-weight: 700;
        font-size: 1.7rem;
        color: var(--blue);
        padding-top: 16px;
    }

    .logo:hover {
        color: var(--white);
    }

/*Form Styling*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__error {
    color: var(--red);
    text-align: center;
}

input[type="text"], input[type="password"], select {
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--black);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    width: 300px;
    margin-bottom: 0.8rem;
}   

.btn--primary {
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 300px;
}

.btn--primary:hover {
    background-color: var(--white);
    color: var(--green);
}

.form__field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

/*Form Styling Login, Signup and Validate*/
.form__login, .form__signup, .form__validate {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blue);
    width: 30%;
    border-radius: 40px;
    margin-top: -4rem;
}

.form__login {
    padding: 4rem 5rem 5rem 5rem;
}

.form__signup {
    padding: 0rem 5rem 2rem 5rem;
}

.form__signup .form__field  {
    margin-bottom: 0.5rem;
}

.form__login__title, .form__title {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.form__login__links {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__login__links a, .form__signup__links a, .form__message a {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 150px;
    border: 1px solid var(--white);
    border-radius: 15px;
}

.form__message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__message a {
    margin-bottom: 1rem;
}

.form__login__links a:hover, .form__signup__links a:hover, .form__message a:hover {
    color: var(--green);
    border: 1px solid var(--green);
}

.form__signup__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form__signup__links p {
    text-align: center;
}

.form__validate {
    padding: 2rem 2rem 2rem 2rem;
    margin: 0 auto;
}

.form__validate h2 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.form__validate p {
    text-align: center;
}

.form__validate a {
    position: center;
}

/*Prompt forms and filters*/
#Homepage_Prompt_Forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Prompt_Form, #Prompt_Filter {
    background-color: var(--blue);
    border-radius: 10px;
    width: 95%;
    padding-top: 10px;
}

#Prompt_Filter {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn--filter {
    margin-bottom: 5rem;
}

#Prompt_Filter label {
    width: 300px;
    text-align: left;
}

.prompt {
    background-color: var(--blue);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    justify-content: center;
}

.prompt a {
    color: var(--white);
}

.prompt a:hover {
    color: var(--nav-background);
}

.prompt img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#Prompt__Creator__Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Prompt__Details, #Prompt__LikeFavourite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Prompt__LikeFavourite {
    margin-bottom: 5px;
}

.comment__field__prompt {
    max-width: 218px;
    margin-top: 5px;
}

.btn_comments {
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--black);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    width: 300px;
    margin-bottom: 0.8rem;
}

/*profile image scaling*/
#profile_header {
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 16px;
}

.profile_picture {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-color: var(--nav-background);
    border-radius: 10px;
    margin-right: 10px;
}

/*profile settings*/
#profile_settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-left: 20px;
}

/*Follow button (other user profile)*/
.follow__button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    min-width: 200px;
}

/*moderator profile*/
#mod_tier_list {
    font-family: var(--font-family);
    font-style: normal;
}

/*Buy button on prompts tab*/
#buy_btn {
    background-color: var(--green);
    color: var(--nav-background);
    border: none;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}

#buy_btn:hover {
    background-color: var(--nav-background);
    color: var(--green);
    cursor: pointer;
}

/*Forgot password page*/
.reset_password {
    background-color: var(--blue);
    border-radius: 10px;
    width: 30%;
    min-width: 340px;
    padding: 4rem 5rem 5rem 5rem;
    margin: 0 auto;
}

@media (max-width: 820px) {
    /*Algemeen*/
    .container{
        display: none;
    }

    /*Login and Signup*/
    .form__login {
        width: 60%;
    }

    .form__signup {
        width: 60%;
    }

    #Homepage_Prompt_Forms {
        display: inline;
    }

    #Prompt_Form, #Prompt_Filter {
        width: 100%;
        margin-left: 0;
        margin-bottom: 16px;
    }

}

@media (min-width: 820px) and (max-width: 1200px) {
    /*Login and Signup*/
    .form__login {
        width: 40%;
    }

    .form__signup {
        width: 40%;
    }
    .prompts {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

@media (min-width: 1200px) {
    /*Algemeen*/
    body{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Navigation*/
    #nav a {
        margin-left: 0px;
        margin-right: 0px;
    }

    /*Prompts*/
    .prompts {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }
}

@media (min-width: 1600px) {
    /*Algemeen*/
    body{
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Navigation*/
    #nav a {
        margin-left: 0px;
        margin-right: 0px;
    }

    /*Prompts*/
    .prompts {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
    }
}

@media (min-width: 2000px) {
    /*Algemeen*/
    body{
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Navigation*/
    #nav a {
        margin-left: 0px;
        margin-right: 0px;
    }

    /*Prompts*/
    .prompts {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 16px;
    }
}