:root {
    --nav-background: #C0EEF2;
    --black: #181823;
    --blue: #537FE7;
    --white: #E9F8F9;

    --green: #25e84f;
    --red: #fe0505;
    --orange: #ff8b04;

    --font-title: 'signo', sans-serif;  
    --font-family: 'ministry', sans-serif;
}

.hidden {
    display: none;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--nav-background);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #logout_button {
    color: var(--red);
}

#nav #logout_button:hover {
    color: var(--blue);
}

#nav a {
    color: var(--black);
    display: flex;
    align-items: center;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    margin-left: 40px;
    margin-right: 40px;
}

#nav a:hover {
    color: var(--blue);
}

.logo {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--blue);
    padding-top: 16px;
}

.logo:hover {
    color: var(--white);
}

body {
    background-color: var(--black);
    color: var(--white);
    margin-top: 5rem;
}

h1 {
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    color: var(--white);
}

p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 100;
}

#Homepage_Prompt_Forms {
    display: flex;
    justify-content: center;
}

#Prompt_Form {
    background-color: var(--blue);
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}

#Prompt_Filter {
    background-color: var(--blue);
    padding: 10px;
    margin-left: 5%;
    border-radius: 10px;
    width: 40%;
}

.form__error {
    color: var(--red);
}

.prompts {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Adjust the gap between items as needed */
}

.prompt {
    background-color: var(--blue);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 100px;
    justify-content: center;
}

.prompt a {
    color: var(--white);
}

.prompt a:hover {
    color: var(--nav-background);
}

.prompt img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#Prompt__Creator__Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Prompt__Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Prompt__LikeFavourite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .container{
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    
}

@media (min-width: 1200px) {
    body{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    #nav a {
        margin-left: 0px;
        margin-right: 0px;
    }
}